#!/bin/bash

##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##
<%- if @hostname == "zani" then -%>
  if [ -n "$(awk '$4 == "dasdb1" && $3 == "249999" {print}' /proc/partitions)" ]; then
    mkswap /dev/dasdb1 && swapon -p 30 /dev/dasdb1
  fi
  if [ -n "$(awk '$4 == "dasdc1" && $3 == "249999" {print}' /proc/partitions)" ]; then
    mkswap /dev/dasdc1 && swapon -p 30 /dev/dasdc1
  fi
<%- end -%>

if [ -e /proc/sys/kernel/modules_disabled ]; then
	( sleep 60;
	  echo 1 > /proc/sys/kernel/modules_disabled || true
	) & disown
fi

touch /var/run/reboot-lock
