<%- if scope.function_has_role(['onionbalance']) -%>
# Workaround https://trac.torproject.org/projects/tor/ticket/27849
# FIXME: remove this when the bug is fixed
SocksPort 9050
<%- else -%>
SocksPort 0
<%- end -%>
Log notice syslog

<%- if has_variable?("tor_ge_0_2_9") && @tor_ge_0_2_9 -%>
#HiddenServiceSingleHopMode 1
#HiddenServiceNonAnonymousMode 1
<%- end -%>


