//
// THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
// USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
//

// Slave domains, include in bind.conf

<%
zones = []

zones << "debian.org"
zones << "debian.net"
zones << "debian.com"
zones << "debian.ch"
zones << "debian.es"
zones << "debian.eu"
zones << "debian.li"
zones << "debian.gr"
zones << "debian.us"
zones << "debian.org.tw"

zones << "debian-ports.org"

# debian rack with sil.at
zones << "144-28.118.59.86.in-addr.arpa"
zones << "2.0.0.0.2.0.0.0.8.5.8.0.1.0.0.2.ip6.arpa"

# debian rack with grnet
zones << "192-27.211.177.194.in-addr.arpa"
zones << "b.e.d.0.c.f.f.2.8.4.6.0.1.0.0.2.ip6.arpa"

# ipv6 at 1&1 - wieck and schumann  - new range April 2011
zones << "2.6.a.0.4.6.5.6.0.0.4.0.0.8.5.0.8.d.8.0.1.0.0.2.ip6.arpa"

# 16.87.209.in-addr.arpa zone - reverse zone for 209.87.16/24 - debian at UBC
zones << "16.87.209.in-addr.arpa"

# 1.0.0.0.4.1.6.0.0.f.8.f.7.0.6.2.ip6.arpa - reverse zone for 2607:f8f0:614:1::/64 - debian at UBC
zones << "1.0.0.0.4.1.6.0.0.f.8.f.7.0.6.2.ip6.arpa"

# 19.12.206.in-addr.arpa zone - reverse zone for 206.12.19/24 - debian at UBC ECE
zones << "19.12.206.in-addr.arpa"

# 0.0.0.4.0.1.6.0.0.f.8.f.7.0.6.2.ip6.arpa - reverse zone for 2607:f8f0:0610:4000::/64 - debian at UBC ECE
zones << "0.0.0.4.0.1.6.0.0.f.8.f.7.0.6.2.ip6.arpa"

# 0.0.0.0.5.0.0.0.8.7.a.0.1.0.0.2.ip6.arpa - reverse for 2001:a78:5:0::/64 (villa)
zones << "0.0.0.0.5.0.0.0.8.7.a.0.1.0.0.2.ip6.arpa"

# 1.0.0.0.5.0.0.0.8.7.a.0.1.0.0.2.ip6.arpa - reverse for 2001:a78:5:1::/64 (lobos)
zones << "1.0.0.0.5.0.0.0.8.7.a.0.1.0.0.2.ip6.arpa"

# 0.0.0.4.6.0.2.0.0.3.6.0.1.0.0.2.ip6.arpa - reverse for 2001:630:206:4000::/64 (sanger)
zones << "0.0.0.4.6.0.2.0.0.3.6.0.1.0.0.2.ip6.arpa"

# debian rack with manda
zones << "64-26.75.195.82.in-addr.arpa"
zones << "2.0.2.0.8.b.1.4.1.0.0.2.ip6.arpa"

# reverse zone for 5.153.231.0/24 and 2001:41c8:1000::/48 - debian at bytemark
zones << "231.153.5.in-addr.arpa"
zones << "0.0.0.1.8.c.1.4.1.0.0.2.ip6.arpa"

# various reverse zones for private networks
zones << "29.172.in-addr.arpa"


zones.each do |zone|
-%>

zone "<%= zone %>" {
	type slave;
	notify no;
	file "db.<%= zone %>";
	masters {
		82.195.75.91; // denis
		2001:41b8:202:deb:1b1b::91; // denis
	};
	allow-query { any; };
	allow-transfer { };
};

<% end -%>
